h1 {
  color: mediumslateblue;
  font-variant: small-caps;
  font-style: oblique;
}

h2 {
  color: orangered;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

p {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 12;
}

<p id="copyright"> {
  text-emphasis: 20%;
  text-indent: 70%;
}

ul {
  list-style-type: square;
}

h3 {
  color: forestgreen;
  font-weight: 200;
  text-decoration-line: underline;
}

